* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 32px;
  padding-bottom: 32px;
  height: calc(100% - 32px);
}

header {
  align-items: baseline;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

p {
  margin-bottom: 8px;
}

.EmojiGroup span:not(:last-child) {
  margin-right: 16px;
}

main {
  margin-top: auto;
  margin-bottom: 16px;
}

footer {
  display: flex;
  margin: 0 -32px;
  position: relative;
  margin-bottom: 64px;
}

.Line {
  background-color: lightpink;
  height: 2px;
  width: 100%;
}

.Dots {
  width: calc(100% - 32px);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-left: 32px;
  position: absolute;
}

.Dot {
  position: relative;
  background-color: black;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: -2px;
}

.CurrentDot {
  background-color: pink;
  width: 12px;
  height: 12px;
  top: -5px;
}

.heart {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.heart span:not(:last-child) {
  margin-right: 64px;
}

.CurrentDot .DotContent {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  font-size: 32px;
  left: -28px;
}

.Dot:nth-child(7),
.Dot:nth-child(8),
.Dot:nth-child(9) {
  visibility: hidden;
}

.DotContent {
  position: absolute;
  left: -2px;
  text-align: center;
  margin-top: 12px;
}